# logs
logs
*.log
*-debug.log*
*-error.log*
.DS_Store

# dependencies
node_modules

# production
dist
dist-ssr
*.local
public/main.css

# editors
/.vscode
!.vscode/extensions.json
.idea


# temp
index.html
postcss.config.js
tailwind.config.js
vite.config.ts
